@import "tailwindcss";

:root {
  --background: #050805;
  --foreground: #E5FFE7;
  --border: rgba(98,255,134,0.15);
}

html,
body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-jetbrains);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  width: 100%;
}

.noScroll {
  scrollbar-width: none;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.main-border-color {
  border-color: var(--border);
}

.muted-text {
  color: #8BA38F;
}

.helper-text-gray {
  color: #5F6B61;
}

.helper-text-green {
  color: #4ADE80;
}

.active-menu-text {
  color: #4ADE80;
}

.non-active-menu-text {
  color: #4FC3F7;
}